<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<a href="/" class="image left"><img src="https://images.ctfassets.net/orqped9h4wgz/702AZCEQGGZEMOpl4ZuxPk/1191d60014a9cd07f94ec9721782e6e5/lendingclubLogo.svg" height ="27" style="position:relative; left:20px; top: 12px;"/></a>
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

			

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="#team">About Us</a></li>
								<li><a href="/individual-loan">Check your eligibility</a></li>
								<li><a href="#footer">Contact Us</a></li>
								<li><a href="/more-information">More Information</a></li>
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
				</section>

			<!-- Gigantic Heading -->
			<section class="wrapper style2">
				<div class="container">
					<header class="major">
						<h2><FONT COLOR="#31598E">We’re rewriting the rules of traditional banking, and we only win when our customers succeed. We’ve helped over 4 million members reach their goals, and we’re just getting started!</FONT></h2>
					</header>
				</div>
			</section>

			<!-- Highlights -->
			<section id="team">
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/x5nQdD4/raktim.jpg" alt="" /></a>
									<h3>Raktim Saikia</h3>
									<p><i>MSc Data Science</i></p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/VxzHK0X/irene.jpg" alt="" /></a>
									<h3>Irene Phan</h3>
									<p>MSc FinTech</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/dj0GcCz/andrea.jpg" alt="" /></a>
									<h3>Andrea Soh</h3>
									<p>MSc FinTech</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/smxP5dX/rini.jpg" alt="" /></a>
									<h3>Dharini Mohan</h3>
									<p>MSc FinTech</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/7gHWxny/sara.jpg" alt="" /></a>
									<h3>Sara Thu</h3>
									<p>MSc FinTech</p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<a href="#" class="image left"><img src="https://i.ibb.co/SNtB4SV/xiaodong.jpg" alt="" /></a>
									<h3>Dr Li Xiao Dong</h3>
									<p>Supervisor</p>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>

			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container" style="padding-bottom: 240px; padding-top: -10px;">
						<header class="major" style="color: #ea4224;">
							<h2>Bank Smarter with LendingClub</h2>
							<p>Make the most of your money with LendingClub, recently awarded Best Online Bank for 2024 by GOBankingRates. Our superior products and services are built to help you reach financial wellness, including our award-winning checking account, Rewards Checking, offering 1% cash back, ATM rebates and more.</p>
							<a href="#" class="image left"><img src="https://images.ctfassets.net/orqped9h4wgz/4VvGoZUg5LpbFypaSa1QDV/6aa557c14a8990c4f92866e581967273/awards2024.png" height ="210" style="position: relative; left:310px; top: 25px;" alt="" /></a>
						</header>
					</div>
				</section>

			<!-- Posts -->
			<section id="how-to">
				<section class="wrapper style1">
					<a href="#" class="image left"><img src="https://images.ctfassets.net/orqped9h4wgz/4xAOvaMIIayVTRI7CvaDtU/9a4fa29c29944ef0e2f09a9ea4993c24/HowitWorks_1__1_.png" height ="430" style="position:relative; left:300px; bottom: 35px;" alt="" /></a>
					<div class="container">
						<div class="row">
							<section class="col-10 col-20-narrower">
								<div class="box post">
									<div class="inner">
										<h3>Apply in minutes</h3>
										<p>Get customized loan options based on what you tell us.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-10 col-20-narrower">
								<div class="box post">
									<div class="inner">
										<h3>Choose a loan offer</h3>
										<p>Select the rate, term, and payment options you like best.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="row">
							<section class="col-10 col-20-narrower">
								<div class="box post">
									<div class="inner">
										<h3>Get funded</h3>
										<p>Once your loan is funded, we’ll send the money straight to your bank account or pay your creditors directly.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>

			<!-- CTA -->
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Check your eligibility for loan with us today</h2>
							<a href="/individual-loan" class="button" >Learn More</a>
						</header>
					</div>
				</section>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<section class="col-3 col-6-narrower col-12-mobilep">
							<h3>WHAT WE OFFER</h3>
							<ul class="links">
								<li><a href="https://www.lendingclub.com/personal-loan">Personal Loan</a></li>
								<li><a href="https://www.lendingclub.com/personal-deposits">Personal Banking</a></li>
								<li><a href="https://www.lendingclub.com/auto-refinancing">Auto Refinancing</a></li>
								<li><a href="https://www.lendingclub.com/patient-solutions">Patient Solutions</a></li>
								<li><a href="https://www.lendingclub.com/business-loan">Business Loans</a></li>
								<li><a href="https://www.lendingclub.com/business-deposits">Business Banking</a></li>
								<li><a href="https://www.lendingclub.com/personal-loan/loan-types">Other types of loans</a></li>
							</ul>
						</section>
						<section class="col-3 col-6-narrower col-12-mobilep">
							<h3>ABOUT US</h3>
							<ul class="links">
								<li><a href="https://www.lendingclub.com/company/cra-file">CRA Public File</a></li>
								<li><a href="https://www.lendingclub.com/company/about-us">Company</a></li>
								<li><a href="https://www.lendingclub.com/company/leadership">Leadership</a></li>
								<li><a href="https://www.lendingclub.com/company/careers">Careers</a></li>
								<li><a href="https://ir.lendingclub.com/governance/govdocs/default.aspx">Corporate Governance</a></li>
								<li><a href="https://ir.lendingclub.com/home/default.aspx">Investor Relations</a></li>
								<li><a href="https://www.lendingclub.com/company/media-center">Media Center</a></li>
							</ul>
						</section>
						<section class="col-6 col-12-narrower">
							<h3>Get In Touch</h3>
							<form>
								<div class="row gtr-50">
									<div class="col-6 col-12-mobilep">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-mobilep">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" class="button alt" style="background-color: #ea4224;" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; All rights reserved 2024. Project by MSc Data Science and MSc FinTech students from University of West England, Bristol. </li>
						</ul>
					</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>